DATABASE_URL=
CLAUDMOR_MASTER_SECRET=
CLAUDMOR_SESSION_SECRET=
CLAUDMOR_ADMIN_TOKEN=
CLAUDMOR_OWNER_KEY=
CLAUDIUM_INTERNAL_URL=
CLAUDIUM_INTERNAL_SECRET=
LOOTLABS_API_TOKEN=
LOOTLABS_REWARD_URL=
LOOTLABS_POSTBACK_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
